*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.tabContent{
    display: none;
}
html, body {
    height: 100vh; 
    width: 100vw;
    margin: 0;
}
.namaTidakSesuai{    
    display: none;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4) url('Anu/countryside_landscape_illustration-wallpaper-5120x2880.jpg') center center / cover no-repeat;
    filter: brightness(68%);
    z-index: -1;
    transition: background 1s ease;
}
#kosong{
    position: fixed;
}
#bintangAww{
    animation: backAww 120s linear infinite;
}
#backdrop1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4) url('Anu/light_background-wallpaper-5120x2880.jpg') center center / cover no-repeat;
    filter: brightness(68%);
    z-index: -1;
    transition: background 1s ease;
}
nav div img{
    padding-right: 10px;
}
.bintang{
    margin-top: 20px;
    margin-bottom: 20px;
}
#judul{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}
#isi{
    margin-top: 100px;
}
#icon{
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    padding-top: 105px;
}
#icon.active{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#icon img{
    border: 3px solid white;
    border-radius: 50%;
}
#lanjut{
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 24px;
    font-size: larger;
    font-weight: 900;
    color: white;
    background: linear-gradient(to right, #C68FE6, #604CC3 );
    border: 1px solid #333;
    transition: background 0.3s ease 0;
    margin-bottom: 20px;
}
#lanjut:hover{
    background: linear-gradient(to right, #b758ee, #482cd2 );
    cursor: pointer;
}
#lanjut.active{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
#center{
    display: flex;
}
#aww{
    color: #F5F5F5;
}
.calculator {
    width: 220px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#miaw{
    display: flex;
    justify-content: center ;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button{
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.buttons button:last-child {
    background-color: #ff4081;
    color: #ffffff;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:44px;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #ffffff;
}
#nama{
    color: #482cd2;
    font-weight: 900;
    font-size: 24px;
}
#gambar-1.active{
    transform: rotate(-6deg);
    animation: bounce-left 1s ease 0s 1 normal forwards;
}
#a1 #gambar-1.out{
    transform: rotate(-6deg);
    animation: fadeOut-left 1s ease;
}
#a1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center
}
#miaw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}
#miaw #keterangan{
    font-family: 'Lobster', sans-serif;
    color:rgb(24, 136, 130);
    font-size: 40px;
}
#a1 #keterangan{
    font-family: 'water Brush', cursive;
    color:chartreuse;
    font-size: 80px;
    transform: rotate(10deg);
}
#a2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}
#a2 #keterangan{
    font-family: 'water Brush', cursive;
    color:#226095;
    font-size: 80px;
    transform: rotate(6deg);
    padding: 5px;
}
#a2 #gambar-1{
    float: right;
    display: flex;
}
#a3{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#a3 #keterangan{
    font-family: 'water Brush', cursive;
    color:#482cd2;
    font-size: 80px;
    transform: rotate(-12deg);
    padding: 5px;
}
#a3 #keterangan1{
    font-family: 'water Brush', cursive;
    color:#a42d8c;
    font-size: 80px;
    transform: rotate(90deg);
    padding: 5px;
}
@keyframes fadeOut-left {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-50px);
	}
}
@keyframes backAww{
    0%{
        transform: translateX(-735px) rotate(0deg);
    }
    50%{
        transform: translateX(-735px) rotate(360deg);
    }
    100%{
        transform: translateX(-735px) rotate(0deg);
    }
}
@keyframes bounce-left {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px) rotate(0deg);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0) rotate(-6deg);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px) rotate(-6deg);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0) rotate(-6deg);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px) rotate(-6deg);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0) rotate(-6deg);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px) rotate(-6deg);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0) rotate(-6deg);
        
	}
}